<div class="row g-2 mt-1">
    <!-- Card 1 -->
    <div class="col-lg-3 col-sm-6">
        <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
            <div class="d-flex justify-content-end">
                <div style="border: 3px solid #90ee90;" class="rounded-circle p-2">
                    <div style="background-color: #90ee90;" class="rounded-circle">
                        <img class="p-1" src="~/images/icons/total-sales.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start">
                <h4 class="m-0" id="totalSalesCountAuto">@Model.DashboardData.TotalSales</h4>
                <p class="m-0">Total Sales</p>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-lg-3 col-sm-6">
        <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
            <div class="d-flex justify-content-end">
                <div style="border: 3px solid #e5b7f2;" class="rounded-circle p-2">
                    <div style="background-color: #e5b7f2;" class="rounded-circle">
                        <img class="p-1" src="~/images/icons/total-orders.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start">
                <h4 class="m-0" id="totalOrderCountAuto">@Model.DashboardData.TotalOrder</h4>
                <p class="m-0">Total Orders</p>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-lg-3 col-sm-6">
        <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
            <div class="d-flex justify-content-end">
                <div style="border: 3px solid #add1e5;" class="rounded-circle p-2">
                    <div style="background-color: #add1e5;" class="rounded-circle">
                        <img class="p-1" src="~/images/icons/order-value.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start bg-white">
                <h4 class="m-0"  id="avgOrderCountAuto">@Model.DashboardData.AvgOrderValue</h4>
                <p class="m-0">Avg. Order Value</p>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-lg-3 col-sm-6">
        <div class="shadow-lg h-100 rounded-2 p-3 bg-white">
            <div class="d-flex justify-content-end">
                <div style="border: 2px solid #f7ada2;" class="rounded-circle p-2">
                    <div style="background-color: #f7ada2;" class="rounded-circle">
                        <img class="p-1" src="~/images/icons/waiting-time.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column align-items-start">
            @{
                var avgTime = Model.DashboardData.AvgWaitingTime;
                var hours = (int)(avgTime / 60);
                var minutes = (int)(avgTime % 60);
                var formattedTime = hours > 0
                    ? $"{hours} hr {(minutes > 0 ? $"{minutes} min" : "")}"
                    : $"{minutes} min";
            }
            <h4 class="m-0" id="avgWaitingTimeAuto">@formattedTime</h4>
                <p class="m-0" >Avg. Waiting Time</p>
            </div>
        </div>
    </div>
    <div class="my-3">
        <div class="row g-2">
            <div class="col-lg-6">
               <div class="shadow-lg p-3 rounded bg-white chart-container">
                    <h3>Revenue</h3>
                    <input type="hidden" id="revenueDataJson" value='@Html.Raw(Json.Serialize(Model.DashboardData.RevenueByDate))' />
                    <canvas id="revenueChart" ></canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shadow-lg p-3 rounded bg-white  chart-container">
                    <h3>Customer Growth</h3>
                   <input type="hidden" id="customerDataJson" value='@Html.Raw(Json.Serialize(Model.DashboardData.CustomerByDate))' />
                    <canvas id="customerChart" ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="my-3">
        <div class="row g-2">
            <div class="col-md-3 ">
                <div class="shadow-lg  p-3 rounded bg-white">
                    <h3>Top Selling Items</h3>
                    <table class="table">
                        <tbody>
                            @if (Model.DashboardData?.TopSellingItems != null)
                            {
                                int index = 1;
                                foreach (var item in Model.DashboardData.TopSellingItems)
                                {
                                    <tr class="text-center align-middle">
                                        <td class="p-0 text-center align-middle">#@index</td>
                                        <td class="py-2 align-middle">
                                            <div class="d-flex align-items-center justify-content-start">
                                                @if(item.ImageUrl != null)
                                                {
                                                    <img src="@item.ImageUrl"  class="me-2" width="50"
                                                        height="50">
                                                }
                                                else
                                                {
                                                    <img src="~/images/dining-menu.png"  class="me-2" width="50"
                                                        height="50">
                                                }
                                                <div class="d-flex flex-column justify-content-start align-items-start">
                                                    <p class="m-0">@item.ItemName</p>
                                                    <div class="d-flex justify-content-start align-items-start">
                                                        <img src="~/images/sidebar icons/menu.png" alt="" style="width: 20px; height:20px">
                                                        <p class="m-0">@item.OrderCount order(s)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg  p-3 rounded bg-white">
                    <h3>Least Selling Items</h3>
                    <table class="table">
                        <tbody>
                            @if (Model.DashboardData?.LeastSellingItems != null)
                            {
                                int index = 1;
                                foreach (var item in Model.DashboardData.LeastSellingItems)
                                {
                                    <tr class="text-center align-middle">
                                        <td class="p-0 text-center align-middle">#@index</td>
                                        <td class="py-2 align-middle">
                                            <div class="d-flex align-items-center justify-content-start">
                                                @if(item.ImageUrl != null)
                                                {
                                                    <img src="@item.ImageUrl"  class="me-2" width="50"
                                                        height="50">
                                                }
                                                else
                                                {
                                                    <img src="~/images/dining-menu.png"  class="me-2" width="50"
                                                            height="50">
                                                }
                                                <div class="d-flex flex-column justify-content-start align-items-start">
                                                    <p class="m-0">@item.ItemName</p>
                                                    <div class="d-flex justify-content-start align-items-start">
                                                        <img src="~/images/sidebar icons/menu.png" alt="" style="width: 20px; height:20px">
                                                        <p class="m-0">@item.OrderCount order(s)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg h-100 rounded-2 d-flex  flex-column justify-content-between p-3 bg-white ">
                    <div class="d-flex justify-content-end">
                        <div style="border: 3px solid #fbc96e;" class="rounded-circle p-2">
                            <div style="background-color: #fbc96e;" class="rounded-circle">
                                <img class="p-2" src="~/images/icons/waiting-list.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-start justify-content-end bg-white">
                        <h4 class="m-0" id="waitingListCountAuto">@Model.DashboardData.WaitingListCount</h4>
                        <p class="m-0">Waiting List Count</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg h-100 rounded-2 p-3 d-flex  flex-column justify-content-between bg-white">
                    <div class="d-flex justify-content-end">
                        <div style="border: 3px solid #fca765;" class="rounded-circle p-2">
                            <div style="background-color: #fca765;" class="rounded-circle">
                                <img class="p-2" src="~/images/icons/customer.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-start bg-white">
                        <h4 class="m-0" id="totalCustomerCountAuto">@Model.DashboardData.TotalCustomer</h4>
                        <p class="m-0">New Customer Count</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
